// ---------- COLORS ---------- //

// Main Colors 
$gray: #777;
$white: #fff;
$teal: #58e1c1;

// Button Colors
$skyblue: #51ddfc;
$red: #e4757a;
$purple: #927bc1;
$green: #63cc82;
$orange: #fd7856;

// Grid Colors
$blue: #4da2bb;
$light-blue: #7ee6fd;
$light-purple: #deb2ee;
$orange: #fd7856;
$light-green: #88d9a0;
$light-red: #ec9fa3;
$light-teal: #80e8d1;

// ---------- MEDIA QUERIES --------- //

// Devices at least 768px
$desktop: 768px;
