/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @media (min-width: $desktop) {
    padding: 10px 30px;
  }
}

.btn + .btn {
  @media (min-width: $desktop) {
    margin-left: 10px;
  }
}


.default {
  background-color: $skyblue;
}

.error {
  background-color: $red;
}

.info {
  background-color: $purple;
}

.success {
  background-color: $green;
}

.warning {
  background-color: $orange;
}