/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include blockAuto;
    @include imgMargin;
    max-height: 100%;
  }
  
  .img-frame {
    @include blockAuto;
    @include imgMargin;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    @include blockAuto;
  }

  .logo {
    @media (min-width: $desktop) {
    margin-left: initial;
    margin-right: initial;
    }
  }